/*公共样式 开始*/

/* 清除浮动*/
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}

ul{
  margin: 0;
}
h1{
  margin: 0;
}

/*公共样式 结束*/

/*页头开始*/
header{
  background-color: rgba(0, 0, 0, 0.4);
  height: 50px;
}
nav{
  letter-spacing: 1px;
}
nav .logo{
  display: inline-block;
  padding-left: 10px;
}

.navbar{
  float: right;
}
.navbar li, nav .logo{
  display: inline-block;
  margin-right: 20px;
  line-height: 50px;
}
.navbar li a, .logo a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  height: inherit;
}

.banner{
  background: gray;
  height: 700px;
  color: #fff;
}
.banner .inner{
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 160px;
  background-color: blue;
}
/*页头结束*/
