/*
* @Author: Administrator
* @Date:   2018-04-02 09:17:49
* @Last Modified by:   leo
* @Last Modified time: 2018-04-04 09:40:54
*/
.contact_us .banner{height:200px;}
.contact_us .banner a{display:block;width:100%;height:100%;background:url(../images/contact_banner.jpg) no-repeat center;}

.contact_us .content{height:908px;}

.contact_tit{margin-top:38px;}

.contact_tit>h2{font-size:22px;line-height:28px;color:#333;}
.contact_tit>.tit_en{font-size:14px;line-height:28px;color:#999;text-transform:uppercase;}
.contact_us .content .line{margin-top:20px;}
.map{margin-top:72px;}

.contact_us .conts{text-align:center;margin-top:40px;}
.contact_us .conts a.icon{padding:0;height:47px;display:inline-block;}
.contact_us .conts a.icon>img{width:34px;height:34px;}
.contact_us .conts span{font-size:14px;line-height:34px;color:#666;}

