/* 文章 */

.news_detail .article_case{margin-bottom:50px;}
.news_detail .article_intro{padding-top:;height:110px;border-bottom:1px solid #e6e6e6;}
.news_detail .article_intro h1{font-size:30px;padding:30px 0 15px 0;}

.news_detail .article_con p{line-height:30px;}
.news_detail p.center_t{text-align:center;}

.news_detail .page_nav{padding-bottom:20px;}

