.goods{height: 90px;background:pink;border:1px solid #ccc;}
.goods_big{height: 180px;}
.st_title{background:#eee;padding:5px;margin-top:2px;}
.st_left{display: inline-block;}
.more{font-size:14px;color:#333;}
.re_title{height: 30px;line-height:30px;text-align:center;color:#FF5053;font-weight:bold;}

	
