/* 顶部-导航 */
header{
  background-color: #702524;
  opacity: 0.902;
  position: absolute;
  width:100%;
  left: -1px;
  top: -1px;
  height: 105px;
  z-index: 18;
}
.logo{line-height:105px;float: left;}
header .navbar-default{background-color:transparent;border-width:0;}
header .container-fluid{padding:0;height:105px;float: right;}
header .container-fluid .navbar-nav li a{padding-top:0;padding-bottom:0;color:#f0f0f0;height:105px;line-height:105px;font-size:16px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color: #f0f0f0;
    background-color: #9f4240;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #f0f0f0;
    background-color: #9f4240;
}

/* banner */
.banner{position:relative;}

/* 热词 */
.hot{height: 120px;background:#f2f2f2;}
.hot_left{margin-top:30px;float: left;}
.hot_left>div {font-size: 20px;color: rgb(102, 102, 102);line-height: 1.5;}
.hot_left .bottom_word{letter-spacing:2px;}
.hot_center{float: left;margin-left: 128px;width:487px;margin-top:25px;}
.hot-word{line-height:30px;color:#666666;}
.form{margin-top:-4px;}
.navbar-form{padding:0;}
.form-group .form-control{width:434px;}
.form .btn{border-radius:0 4px 4px 0;border-left:0;background-color:#c68b46;width:53px;}
.form .form-control{border-radius:4px 0 0 4px;border-right:0;}
.hot_right{width:232px;background-color:#c68b46;height:100%;color:#fff;position:relative;}
.hot_right{font-size:18px;padding:34px 0 0 24px;height:120px;}
.phone_num{
  font-size: 30px;
  font-family: "Arial";
  line-height: 0.8;
}
.hot_right>img{position:absolute;top:0;right:10px;}



/* 底部 */
.foot{background-color:#813331;height:474px;margin-top:20px;color:#fff;}
.foot_logo{text-align:center;margin-top:47px;}
.foot .contact{margin-top:30px;}
.foot .contact .ercode{background:url(../images/ercode_bg.png) no-repeat center;width:130px;height:149px;text-align:center;border:1px dashed #fff;}
.foot .contact .ercode img{width:106px;height:106px;margin-top:12px;}
.foot .contact .phone{margin-right:40px;margin-top:80px;}
.foot .contact .webad span,
.foot .contact .address span,
.foot .contact .email span,
.foot .contact .phone span{font-size:16px;}
.foot .contact .webad p,
.foot .contact .address p,
.foot .contact .email p,
.foot .contact .phone p{font-size:20px;}
.foot .contact .address{margin-right:15px;margin-top:80px;}
.foot .contact .ercode{margin:0 6px;}
.foot .contact .email{margin-left:10px;margin-right:15px;margin-top:80px;}
.foot .contact .webad{margin-top:80px;}
.foot .bottom{margin-top:30px;}
.foot .bottom .t{border-bottom:1px solid #fff;}
.foot .bottom .t h2{font-size:16px;}
.foot .bottom ul{margin-top:10px;}
.foot .bottom li a{color:#fff;}
.foot .bottom li{float: left;margin:0 29px;}