/* 先导公寓床 */
.dao_bed{margin-top:90px;}
/* 标题 */
.dao_bed .txt{position:relative;text-align:center;}
.dao_bed .txt .inner_txt{width:412px;position:absolute;top:0;left:50%;margin-left:-206px;}

.dao_bed .content{height:194px;background:url(../images/xiandao-bed.png) no-repeat center;margin-top:70px;}
.dao_bed .content li{float: left;width:25%;text-align:center;margin-top:46px;}
.dao_bed .content li h3{font-size:16px;}

/* 我们注重产品每一处的细节 */
.dao_det{margin-top:90px;}
/* 标题 */
.dao_det .txt{position:relative;text-align:center;}
.dao_det .txt .inner_txt{width:412px;position:absolute;top:0;left:50%;margin-left:-206px;}

.dao_det .container{margin-top:70px;}
.dao_det .container .left{width:692px;height:498px;}
.dao_det .container .right{width:638px;height:442px;background:#f0eeef;margin-left:-130px;margin-top:30px;padding:46px 0 0 40px;}
.dao_det .container .right .media{width:260px;float: left;margin-top:0;margin-right:39px;margin-bottom:40px;}
.dao_det .container .right .media .media-body h4{font-size:16px;font-weight:bold;}
.dao_det .container .right .media .media-body p{line-height:17px;}

/* 精品做工打造完美产品 */
.dao_perfect{margin-top:90px;}
/* 标题 */
.dao_perfect .txt{position:relative;text-align:center;}
.dao_perfect .txt .inner_txt{width:412px;position:absolute;top:0;left:50%;margin-left:-206px;}
.dao_perfect .txt .inner_txt h2{margin-top:12px;margin-bottom:2px;}
.dao_perfect .txt .inner_txt p{font-size:16px;}

.dao_perfect ul.nav{border:0;margin:0 auto;width:298px;margin-top:50px;margin-bottom:40px;}
.dao_perfect ul.nav li a{width:137px;height:38px;text-align:center;line-height:38px;border:1px solid #ccc;padding:0;margin:0 5px;}
.dao_perfect ul.nav li.active a{border:1px solid #ccc;background:#893735;color:#fff;}

.dao_perfect .tab-pane li{border:1px solid #ccc;text-align:center;position:relative;width:271px;float: left;margin-right:12px;margin-bottom:12px;}
.dao_perfect .tab-pane li:nth-child(4){margin-right:0;}
.dao_perfect .tab-pane li>a{position:absolute;width:100%;height:100%;top:0;left:0;z-index:10;}
.dao_perfect .tab-pane li .t{font-size:16px;position:absolute;bottom:-5px;text-align:center;width:100%;}
.dao_perfect .tab-pane li .m_img{line-height:305px;height:305px;}
.dao_perfect .tab-pane li .sw-logo{position:absolute;top:10px;left:10px;}
.genduo{width:128px;height:40px;color:#fff;background:#893735;font-size:16px;display:block;text-align:center;line-height:40px;margin:0 auto;margin-top:35px;}

/* 好品质  先导造 */
.dao_quality{margin-top:90px;}
/* 标题 */
.dao_quality .txt{position:relative;text-align:center;}
.dao_quality .txt .inner_txt{width:412px;position:absolute;top:0;left:50%;margin-left:-206px;}
.dao_quality .txt .inner_txt h2{margin-top:12px;margin-bottom:2px;}
.dao_quality .txt .inner_txt p{font-size:16px;}

.dao_quality .content{height:565px;background:url(../images/bed-mid-bg.png) no-repeat center;margin-top:70px;}
.dao_quality .content ul{margin-top:40px;width:846px;margin-bottom:0;}
.dao_quality .content li{float: left;width:282px;height:214px;text-align:center;border-radius:2px;margin:0 auto;padding-top:41px;}
.dao_quality .content li:nth-child(2n){background:#f0eeef;}
.dao_quality .content li>h3{font-size:18px;}
.dao_quality .content li>p{line-height:18px;margin-bottom:0;}

.dao_quality .content .container{position:relative;}

.dao_quality .content .contact{width:1206px;height:97px;background:#bf803d;color:#fff;position:absolute;right:354px;bottom:-97px;}



.dao_quality .content .contact h3{display:inline-block;font-size:24px;margin-left:360px;margin-top:50px;}
.dao_quality .content .contact .phone{position:absolute;top:0;right:40px;}


/* 相关产品 */
.custom{margin-top:70px;}
/* 标题 */
.custom .txt{position:relative;text-align:center;}
.custom .txt .inner_txt{width:412px;position:absolute;top:0;left:50%;margin-left:-206px;}
.custom .container{margin-top:72px;position:relative;}

.custom .more{position:absolute;top:-40px;right:0;}
.more {background-color: #893735;width: 84px;height: 30px;color:#fff;border-radius: 15px;text-align:center;float: right;}
.more:hover{color:#fff;}

.custom .container li{width:289px;border:1px solid #dbdbdb;height:408px;float: left;margin-right:14px;overflow: hidden;}
.custom .container li:last-child{margin-right:0;}
.custom .container li>img{width: 289px;height: 200px;}
.custom .container li>h3{font-size:16px;text-align:center;}
.custom .container li>p{line-height:20px;padding:0 18px;margin-top:20px;}

/* 公寓床资讯 */
/* 相关资讯 */
.bed_news{margin-top:70px;}
/* 标题 */
.bed_news .txt{position:relative;text-align:center;}
.bed_news .txt .inner_txt{width:412px;position:absolute;top:0;left:50%;margin-left:-206px;}
.bed_news .container{margin-top:72px;position:relative;}

.bed_news .container .media{float: left;width:590px;height:170px;border:1px solid #ccc;margin-right:20px;}
.bed_news .container .media:nth-child(2){margin-top:0;}
.bed_news .container .media:nth-child(2n){margin-right:0;}


.bed_news .container .media .media-object{height:164px;width:251px;}
.bed_news .container .media .media-body h4{margin:18px 0 0 22px;font-size:16px;}
.bed_news .container .media .media-body p{margin:15px 0 0 22px;line-height:22px;margin-right:15px;}
.bed_news .container .media .media-body time{float: right;margin-top:15px;padding-right:20px;}
.bed_news .more{position:absolute;top:-40px;right:0;}



