/*
* @Author: Administrator
* @Date:   2018-07-06 10:10:01
* @Last Modified by:   Administrator
* @Last Modified time: 2018-07-26 13:53:46
*/
/* 通用基础样式 */
ul,li{ list-style:none;}
.fr{float: right;}
.fl{float: left;}
.or{overflow:hidden;}
a {color: #333;}
a:focus, a:hover {color:#de0000;}
body{padding-top:70px;}
h3{font-size:16px;}
ul{padding-left:0;}


/* 头部-导航 */
.navbar{background-color:#fff!important;}
.collect{font-size:14px;color:#6ca63e;margin-top:10px;}
.collect>span{cursor:pointer;}
.glyphicon-star-empty{margin-right:5px;}
.navbar{font-size:16px;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a:hover,
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{color:#de0000;text-decoration: none;background-color:transparent;}
.navbar-default{background-color:transparent;border-color:transparent;}
.navbar-nav>li>a{border-right: 1px dashed #e5e5e5;padding-top:0;padding-bottom:0;margin:15px 0;}
.navbar-default .navbar-nav>li>a{color:#333;}
.navbar-nav>li:last-child a{border:0;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{color:#333;background-color:transparent;}
.dropdown-menu{min-width: auto;}
.navbar-right{margin-right:0;}
/* .navbar-nav{position: absolute;z-index: 1000;background: #fff;width: 100%;} */
.dropdown:hover .dropdown-menu {display: block;margin-top: 0;}


/* 文本溢出 */
.text_overflow2{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.text_overflow3{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.text_overflow6{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 6;
	overflow: hidden;
}


/* contact */
.contact .map{width:500px;height:300px;}


/* 产品详情 */
.article_tit{text-align:center;}

