/*
* @Author: Administrator
* @Date:   2018-07-24 16:16:08
* @Last Modified by:   Administrator
* @Last Modified time: 2018-07-25 16:35:36
*/
.product_show .product_item{margin-top:10px;}
.product_show .product_item dd{text-align:center;}
.product_show .product_item dt img{width:100%;}



