/* 响应式 */

@media (min-width: 320px){
	
	/* 主页 */
	.collect{display:none;}
	.column_top{margin-top:10px;}
	.consult .media-heading{font-size:14px;margin-top:2px;}
	.consult .media-body>p{display:none;}
	.consult .media-body{width:66.66666667%;}
	.leave_word .media-body,
	.general .media-body{width: 66.66666667%;}
	.third_floor {margin-top:10px;}

	/* 咨询页面 */
	.news .path .container,
	.news .path{padding-left:0;}
	.left_side .column_nav{display:none;}

	.main div.right_side{margin-left:0;float: none;}
	.main div.left_side{width:100%;position:static;border:0;margin:auto;}
	.right_side .info_con{margin:auto 5px;}
	.right_side .info_con li{margin-bottom:15px;}
	.right_side .info_con li .time{float:none;clear: both;}

	/* 企业概况 */
	.enterprise_pro .main{position:relative;padding-top:135px;}
	.enterprise_pro .left_side .column_nav{display:block;width:100%;}
	.enterprise_pro .left_side .column_nav .nav-stacked{width:100%;}
	.enterprise_pro .left_side .column_nav .nav-stacked li{float:left;width:25%;}
	.enterprise_pro .left_side .column_nav .nav-stacked li a{padding:10px 0;border:0;text-align:center;}
	.enterprise_pro .left_side .column_nav .nav-stacked li .glyphicon{display:none;}
	.enterprise_pro .main .left_side .column_nav{position:absolute;top:0;}

	/* 产品展示 */
	.main{margin-top:0!important;}
	.main .right_side{width:100%!important;}

	.product_show .main{position:relative;padding-top:135px;}
	.product_show .left_side .column_nav{display:block;width:100%;}
	.product_show .left_side .column_nav .nav-stacked{width:100%;}
	.product_show .left_side .column_nav .nav-stacked li{float:left;width:50%;}
	.product_show .left_side .column_nav .nav-stacked li a{padding:10px 0;border:0;text-align:center;font-size:16px;border:1px solid #ccc;border-radius:5px;}
	.product_show .left_side .column_nav .nav-stacked li .glyphicon{display:none;}
	.product_show .main .left_side .column_nav{position:absolute;top:0;}
	



}

@media (min-width: 375px){
	
	/* 主页 */
	.consult .media-body>p{display:none;}


	
}

@media (min-width: 425px){
	
	/* 主页 */

	.navbar-nav{background-color:#fff;}
	.consult .media-body{width:66.66666667%;}
	.leave_word .media-body,
	.general .media-body{width: 66.66666667%;}
}

@media (min-width: 768px){
	.navbar-default .navbar-nav>li>a{border:0;}
	.divider{display:none;}
	.nav>li>a{padding:10px 12px;}


	/* 主页 */
	
	.leave_word .media-body .list_wrap{height:196px;}
	.consult .media-body>p{display:-webkit-box;}

	.consult .media-body{width:66.66666667%;}
	.consult .media-heading{margin-top:10px;}
	.leave_word .media-body,
	.general .media-body{width: 66.66666667%;}

}

@media (min-width: 992px){
	.consult .media-body{width:50%;padding-left:0;}
	.consult .media-body>p{margin-top:18px;}
	.leave_word .media-body,
	.general .media-body{width: 66.66666667%;}
	.leave_word .media-body .list_wrap{height:180px;}

}

@media (min-width: 1020px){
	/* .main{min-height:1000px!important;} */
	.main div.right_side{margin-left:320px;float: left;}
	.main div.left_side{border:1px solid #ccc;width:300px;position:absolute;}
	.right_side .info_con{margin:auto 0;}
	.main div.left_side .column_nav{display:block;}
	.right_side .info_con li .time{float:right;clear:none;}

	/* 企业概况 */
	.enterprise_pro .main{position:relative;padding-top:0;}
	.enterprise_pro .left_side .column_nav{width:auto;}
	.enterprise_pro .left_side .column_nav .nav-stacked{width:100%;}
	.enterprise_pro .left_side .column_nav .nav-stacked li{float:none;width:100%;}
	.enterprise_pro .left_side .column_nav .nav-stacked li a{padding:10px 0;border:0;text-align:left;border-bottom:1px dashed #ccc;}
	.enterprise_pro .left_side .column_nav .nav-stacked li .glyphicon{display:block;}
	.enterprise_pro .main .left_side .column_nav{position:static;}


	/* 产品展示 */
	.main{margin-top:30px!important;}
	.main .right_side{width:640px!important;}

	.product_show .main{padding-top:0;}
	.product_show .left_side .column_nav .nav-stacked li{float:none;width:auto;}
	.product_show .left_side .column_nav .nav-stacked li a{padding:10px 0;border:0;border-bottom:1px dashed #ccc;text-align:left;border-radius:0;}
	.product_show .left_side .column_nav .nav-stacked li .glyphicon{display:block;}
	.product_show .main .left_side .column_nav{position:static;}

}

@media (min-width: 1200px){

	.consult .media-body{width:50%;padding-left:0;}
	.leave_word .media-body,
	.general .media-body{width: 66.66666667%;padding-left:0;}

	.leave_word .media-body .list_wrap{height:160px;}

	/* 产品展示 */
	.main .right_side{width:880px!important;}

}






